body {
    background-color: #8d99ae;
    background-image: url(/images/background2.png);
}
header {
    color: #edf2f4;
}

#home {
    background-color: #edf2f4;
}

#about {
    background-color: #edf2f4;
    
}

#projects {
    background-color: #edf2f4;
}

#contact {
    background-color: #edf2f4;
}


.main-container {
    display: flex;
}

.input-color {
    background-color: #edf2f4;
}

.see-more {
    color: #00afb9;
}