body {
    background-color: #5febcd;
    background-image: url(/images/background2.png);
}
header {
    color: #edf2f4;
}

#home {
    background-color: #edf2f4;
}

#about {
    background-color: #edf2f4;
}

#projects {
    background-color: #edf2f4;
}

#contact {
    background-color: #edf2f4;
}


.main-container {
    display: flex;
}

.input-color {
    background-color: #edf2f4;
}

.see-more {
    color: #00afb9;
}

.home-text {
    color: #136a6e;
}

.header-text {
    color: #21cfd8;
}

/* BURGER MENU */

.burger-menu {
    display: none;
  }
  
  @media only screen and (max-width: 640px) {
    .burger-menu {
      display: block;
    }
  }

