body {
    background-color: #8d99ae;
}
header {
    color: #edf2f4;
}

.main-container {
    display: flex;
}

#home {
    background-color: #edf2f4;
}

#about {
    background-color: #edf2f4;
}

#projects {
    background-color: #edf2f4;
}

#contact {
    background-color: #edf2f4;
}

.input-color {
    background-color: #edf2f4;
}